Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

flags:
  rust:
    paths:
      - apps/discourse
      - apps/mapper
      - apps/rindexer
      - libs/rust
    carryforward: true

  email-service:
    paths:
      - apps/email-service
    carryforward: true

ignore:
  - "node_modules"
  - "target"
  - "dist"
  - "build"
  - "coverage"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "**/*.d.ts"
  - "**/.storybook"
  - "**/storybook-static"
  - "apps/web/e2e"
  - "apps/observe"
  - "libs/ts/visual-dom-diff"

cache on discourse apis
  apps/web/.storybook/dom-sizer-addon/README.md
  apps/web/app/api/discourse/[daoSlug]/proposal-state/[topicSlug]/route.tsx
  apps/web/app/api/discourse/[daoSlug]/vp-tag/[username]/route.ts
  infrastructure/ansible/check-acl-status.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/02a-bootstrap-acls.yml
  infrastructure/ansible/playbooks/02b-distribute-tokens.yml
  infrastructure/ansible/playbooks/03-install-nomad.yml
  infrastructure/ansible/recreate-infrastructure.sh
Due: none

linting
  apps/web/app/api/discourse/[daoSlug]/proposal-state/[topicSlug]/route.tsx
  apps/web/app/api/discourse/[daoSlug]/vp-tag/[username]/route.ts
Due: none

cleanup infra
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/group_vars/all/main.yml
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/02a-bootstrap-acls.yml
  infrastructure/ansible/playbooks/02b-distribute-tokens.yml
  infrastructure/ansible/playbooks/03-install-nomad.yml
  infrastructure/ansible/recreate-infrastructure.sh
  infrastructure/ansible/scripts/get-tokens.sh
  infrastructure/ansible/templates/consul-client.hcl.j2
  infrastructure/ansible/templates/consul-server.hcl.j2
  infrastructure/ansible/templates/nomad-client.hcl.j2
  infrastructure/ansible/templates/nomad-server.hcl.j2
Due: none

wip
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/manage-infrastructure.sh
  infrastructure/ansible/playbooks/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/03-install-nomad.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/templates/consul-server.hcl.j2
Due: none

wip
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/03-install-nomad.yml
  infrastructure/ansible/templates/nomad-server.hcl.j2
Due: none

wip
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/templates/consul-client.hcl.j2
Due: none

postgres fixes
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/templates/patroni.yml.j2
Due: none

wip
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/docs/pgcat-intelligent-routing.md
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/playbooks/05-install-pgcat.yml
  infrastructure/ansible/templates/consul-server.hcl.j2
  infrastructure/ansible/templates/patroni.yml.j2
  infrastructure/ansible/templates/pgbouncer.ini.j2
  infrastructure/ansible/templates/pgcat.consul.j2
  infrastructure/ansible/templates/pgcat.toml.j2
Due: none

wip
  infrastructure/ansible/docs/architecture-overview.md
  infrastructure/ansible/files/post_init.sh
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/playbooks/05-install-pgcat.yml
  infrastructure/ansible/templates/consul-server.hcl.j2
  infrastructure/ansible/templates/patroni.yml.j2
  infrastructure/ansible/templates/pgcat.consul.j2
  infrastructure/ansible/templates/pgcat.toml.j2
Due: none

wip
  apps/email-service/src/__tests__/DiscourseRepository.integration.test.ts
  apps/email-service/src/__tests__/DiscourseRepository.test.ts
  apps/email-service/src/__tests__/NotificationService.test.ts
  apps/email-service/src/config/daoDiscourseCategories.ts
  apps/email-service/src/repositories/DiscourseRepository.ts
  apps/email-service/src/services/NotificationService.ts
  apps/email-service/src/types/repositories.ts
  infrastructure/ansible/files/post_init.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/playbooks/05-install-pgcat.yml
  infrastructure/ansible/templates/patroni.yml.j2
  infrastructure/ansible/templates/pgcat.consul.j2
  infrastructure/ansible/templates/pgcat.toml.j2
Due: email-service

wip
  apps/email-service/src/__tests__/DiscourseRepository.integration.test.ts
  apps/email-service/src/__tests__/DiscourseRepository.test.ts
  apps/email-service/src/__tests__/integration/DiscourseRepository.integration.test.ts
  infrastructure/ansible/docs/architecture-overview.md
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/docs/pgcat-intelligent-routing.md
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/playbooks/05-install-pgcat.yml
  infrastructure/ansible/templates/consul-server.hcl.j2
  infrastructure/ansible/templates/patroni.yml.j2
  infrastructure/ansible/templates/pgcat.consul.j2
  infrastructure/ansible/templates/pgcat.toml.j2
Due: none

wip
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/templates/consul-wan-health.service.j2
  infrastructure/ansible/templates/consul-wan-health.sh.j2
Due: none

wip
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/templates/consul-replicate.hcl.j2
  infrastructure/ansible/templates/patroni-bootstrap.sql.j2
  infrastructure/ansible/templates/patroni-post-init.sh.j2
  infrastructure/ansible/templates/patroni.yml.j2
  infrastructure/ansible/templates/wait-for-patroni.sh.j2
Due: none

wip
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/playbooks/04-install-postgres.yml
  infrastructure/ansible/playbooks/05-install-pgcat.yml
  infrastructure/ansible/playbooks/fix-db-sib-03.yml
  infrastructure/ansible/templates/consul-replicate-patroni.hcl.j2
  infrastructure/ansible/templates/patroni-verify-registration.sh.j2
  infrastructure/ansible/templates/postgres-health-check.sh.j2
Due: none

wip
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/02-install-consul.yml
  infrastructure/ansible/playbooks/04-install-etcd.yml
  infrastructure/ansible/playbooks/05-install-postgres.yml
  infrastructure/ansible/playbooks/06-install-pgcat.yml
  infrastructure/ansible/playbooks/98-maintenance-updates.yml
  infrastructure/ansible/playbooks/fix-db-sib-03.yml
  infrastructure/ansible/templates/consul-replicate-patroni.hcl.j2
  infrastructure/ansible/templates/consul-replicate.hcl.j2
  infrastructure/ansible/templates/etcd.conf.j2
  infrastructure/ansible/templates/patroni-etcd.yml.j2
  infrastructure/ansible/templates/patroni-verify-registration.sh.j2
Due: none

wip
  infrastructure/ansible/check-acl-status.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/04-install-etcd.yml
  infrastructure/ansible/playbooks/05-install-postgres.yml
  infrastructure/ansible/templates/patroni-etcd.yml.j2
  infrastructure/ansible/templates/patroni-verify-registration.sh.j2
Due: none

wip
  CLAUDE.md
  infrastructure/ansible/docs/pgcat-analysis-and-alternatives.md
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/04-install-etcd.yml
  infrastructure/ansible/playbooks/05-install-postgres.yml
  infrastructure/ansible/playbooks/06-install-pgcat.yml
  infrastructure/ansible/templates/patroni-etcd-only.yml.j2
  infrastructure/ansible/templates/patroni-verify-registration.sh.j2
  libs/ts/db/.config/kysely.config.ts
  package.json
Due: none

wip
  infrastructure/ansible/templates/pgcat.toml.j2
  libs/ts/db/.config/kysely.config.ts
Due: none

wip
  CLAUDE.md
  apps/rindexer/src/main.rs
  infrastructure/README.md
  infrastructure/ansible/VAULT_README.md
  infrastructure/ansible/applications/rindexer/README.md
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/02-install-consul.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-etcd.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-postgres.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgcat.yml
  infrastructure/ansible/playbooks/infrastructure/98-maintenance-updates.yml
  infrastructure/ansible/playbooks/infrastructure/99-destroy-lxc-containers.yml
  infrastructure/nomad-jobs/cloudflared.nomad
  infrastructure/nomad-jobs/indexers.nomad
  infrastructure/nomad-jobs/redis.nomad
  infrastructure/nomad-jobs/traefik.nomad
  infrastructure/nomad-jobs/web.nomad
Due: rust

wip
  infrastructure/ansible/applications/github-runner/README.md
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/group_vars/all/vault.yml
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/02-install-consul.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-etcd.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-postgres.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgcat.yml
Due: none

wip
  .github/workflows/build-rindexer.yml
  infrastructure/ansible/applications/rindexer/CICD.md
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/applications/rindexer/update-image-tag.sh
  infrastructure/ansible/deploy-application.sh
Due: none

infra wip
  .github/workflows/build-rindexer.yml
  .github/workflows/chromatic.yml
  .github/workflows/email-service-tests.yaml
  .github/workflows/rust-tests.yaml
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
Due: none

Update build-rindexer.yml
  .github/workflows/build-rindexer.yml
Due: none

Update main.rs
  apps/rindexer/src/main.rs
Due: rust

fix: Add missing OpenSSL and pkg-config dependencies to rindexer Dockerfile
  apps/rindexer/Dockerfile
Due: rust

feat: Use local Docker registry for fast caching on self-hosted runners
  .github/workflows/build-rindexer.yml
  apps/rindexer/Dockerfile
  infrastructure/ansible/applications/github-runner/setup-docker-registry.yml
Due: rust

feat: Add local Docker registry caching and fix GitHub runner dependencies
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
Due: none

feat: Configure Rust builds to use dedicated high-performance Sibiu runners
  .github/workflows/build-rindexer.yml
  .github/workflows/rust-tests.yaml
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
Due: none

fix: Disable SQLx prepared statements for PgCat compatibility
  apps/rindexer/src/extensions/db_extension.rs
  infrastructure/ansible/VAULT_README.md
  infrastructure/ansible/applications/rindexer/CICD.md
  infrastructure/ansible/applications/rindexer/README.md
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/applications/rindexer/update-image-tag.sh
  infrastructure/ansible/group_vars/all/vault.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
Due: rust

fix: Remove invalid sqlx_disable_statement_logging method call
  apps/rindexer/src/extensions/db_extension.rs
Due: rust

fix: Enable prepared statements support in PgCat for transaction pooling
  apps/rindexer/src/extensions/db_extension.rs
  infrastructure/ansible/templates/pgcat.toml.j2
Due: rust

Fix rindexer PgCat prepared statements and optimize Rust builds
  .cargo/config.toml
  .github/workflows/build-rindexer.yml
  apps/rindexer/Dockerfile
  infrastructure/ansible/applications/github-runner/setup-docker-registry.yml
Due: rust

Add git package to Docker build stages for git dependency fetching
  apps/rindexer/Dockerfile
Due: rust

Align Rust workflows with consistent caching and optimizations
  .github/workflows/build-rindexer.yml
  .github/workflows/rust-tests.yaml
  apps/rindexer/Dockerfile
Due: rust

Add GitHub runner cleanup to destroy infrastructure playbook
  infrastructure/ansible/playbooks/infrastructure/99-destroy-lxc-containers.yml
Due: none

Add Cloudflare Tunnel integration for zero-trust access
  infrastructure/ansible/applications/cloudflared/cloudflared.nomad
  infrastructure/ansible/applications/cloudflared/deploy.sh
  infrastructure/ansible/applications/cloudflared/setup-consul-kv.yml
Due: none

Update rindexer Nomad job with keyOrDefault for Consul KV lookups
  infrastructure/ansible/applications/rindexer/rindexer.nomad
Due: none

chore: update vault and inventory configuration
  infrastructure/ansible/group_vars/all/vault.yml
  infrastructure/ansible/inventory.yml
Due: none

fix: improve Docker registry setup for GitHub runners
  infrastructure/ansible/applications/github-runner/setup-docker-registry.yml
Due: none

fix: simplify Docker registry configuration for GitHub runners
  infrastructure/ansible/applications/github-runner/setup-docker-registry.yml
Due: none
