Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

flags:
  rust:
    paths:
      - apps/discourse
      - apps/mapper
      - apps/rindexer
      - libs/rust
    carryforward: true

  email-service:
    paths:
      - apps/email-service
    carryforward: true

ignore:
  - "node_modules"
  - "target"
  - "dist"
  - "build"
  - "coverage"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "**/*.d.ts"
  - "**/.storybook"
  - "**/storybook-static"
  - "apps/web/e2e"
  - "apps/observe"
  - "libs/ts/visual-dom-diff"

fix: enable local Docker registry caching for rindexer builds
  .github/workflows/build-rindexer.yml
Due: none

fix: remove unsupported --jobs flag from cargo chef cook command
  apps/rindexer/Dockerfile
Due: rust

perf: use only local cache for Docker builds, remove slow registry cache
  .github/workflows/build-rindexer.yml
Due: none

fix: make BETTERSTACK_KEY optional to prevent crashes
  apps/rindexer/src/main.rs
Due: rust

perf: remove GitHub Actions cache for self-hosted runners
  .github/workflows/build-rindexer.yml
  .github/workflows/rust-tests.yaml
Due: none

perf: use local buildx cache only, remove registry cache
  .github/workflows/build-rindexer.yml
Due: none

feat: add discourse deployment setup
  .github/workflows/build-discourse.yml
  apps/discourse/Dockerfile
  apps/discourse/main.rs
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/discourse/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/group_vars/all/discourse_vault.yml
Due: rust

fix: change discourse health port to 3001 to avoid conflict
  apps/discourse/main.rs
  infrastructure/ansible/applications/discourse/discourse.nomad
Due: rust

feat: implement intelligent PgCat routing with etcd-based dynamic configuration
  CLAUDE.md
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/docs/pgcat-analysis-and-alternatives.md
  infrastructure/ansible/files/pgcat-confd.toml.tmpl
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/02-install-consul.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-etcd.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-postgres.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgcat.yml
  infrastructure/ansible/playbooks/infrastructure/99-destroy-lxc-containers.yml
  infrastructure/ansible/templates/consul-client.hcl.j2
  infrastructure/ansible/templates/consul-server.hcl.j2
  infrastructure/ansible/templates/consul-wan-health.sh.j2
  infrastructure/ansible/templates/etcd.conf.j2
  infrastructure/ansible/templates/nomad-client.hcl.j2
  infrastructure/ansible/templates/nomad-server.hcl.j2
  infrastructure/ansible/templates/patroni-bootstrap.sql.j2
  infrastructure/ansible/templates/patroni-etcd-only.yml.j2
  infrastructure/ansible/templates/patroni-post-init.sh.j2
  infrastructure/ansible/templates/pgcat.consul.j2
  infrastructure/ansible/templates/pgcat.toml.j2
  infrastructure/ansible/templates/postgres-health-check.sh.j2
  infrastructure/ansible/templates/wait-for-patroni.sh.j2
Due: none

feat: migrate from PgCat to pgpool-II for database connection pooling
  CLAUDE.md
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/discourse/setup-consul-kv.yml
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/docs/database-architecture-diagram.md
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/files/pgcat-confd.toml.tmpl
  infrastructure/ansible/files/pgpool-full.conf.tmpl
  infrastructure/ansible/files/pgpool-simple.conf.tmpl
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-etcd.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgcat.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgpool.yml
  infrastructure/ansible/templates/pgcat.toml.j2
  infrastructure/ansible/templates/pgpool.conf.j2
  infrastructure/ansible/templates/pool_hba.conf.j2
Due: none

fix: correct rindexer health check configuration
  infrastructure/ansible/applications/rindexer/rindexer.nomad
Due: none

fix: use static ports for health checks with host networking
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
Due: none

Update deploy-application.sh
  infrastructure/ansible/deploy-application.sh
Due: none

feat: add web app deployment with Traefik and Cloudflare integration
  .github/workflows/build-web.yml
  infrastructure/ansible/applications/cloudflared/cloudflared.nomad
  infrastructure/ansible/applications/traefik/setup-consul-kv.yml
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/docs/web-deployment-guide.md
  infrastructure/ansible/group_vars/all/vault.yml
  infrastructure/ansible/group_vars/all/web_vault.yml
Due: none

Update traefik.nomad
  infrastructure/ansible/applications/traefik/traefik.nomad
Due: none

fix: use high ports for Traefik to avoid privilege requirements
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/docs/web-deployment-guide.md
Due: none

fix: add RESEND_API_KEY to web Dockerfile build args
  apps/web/Dockerfile
Due: none

fix: complete web app deployment configuration
  infrastructure/ansible/applications/web/web.nomad
Due: none

Update snapshot_votes.rs
  apps/rindexer/src/tasks/snapshot_votes.rs
Due: rust

fix: make app metadata dynamic based on NEXT_PUBLIC_ROOT_DOMAIN env var
  apps/web/app/layout.tsx
Due: none

fix: update Traefik to v3.4.1 and correct HostRegexp syntax
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: none

fix: complete subdomain routing and dynamic metadata configuration
  infrastructure/ansible/applications/traefik/setup-consul-kv.yml
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/group_vars/all/web_vault.yml
Due: none

fix: remove SSL configuration from database connection pools
  libs/ts/db/src/index.ts
Due: none

fix: improve continuous deployment infrastructure
  .github/workflows/build-discourse.yml
  .github/workflows/build-rindexer.yml
  .github/workflows/build-web.yml
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: none

deps and deployment
  .github/workflows/build-discourse.yml
  .github/workflows/build-rindexer.yml
  .github/workflows/build-web.yml
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  package.json
  yarn.lock
Due: email-service

feat: update domain to proposal.vote and add database verification tools
  infrastructure/ansible/applications/cloudflared/cloudflared.nomad
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/traefik/setup-consul-kv.yml
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/group_vars/all/main.yml
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/07-verify-database-connections.yml
  infrastructure/ansible/verify-database-quick.sh
  infrastructure/ansible/verify-database.sh
Due: none

fix: subdomain routing and Redis HA infrastructure
  apps/web/.env.example
  apps/web/middleware.ts
  infrastructure/ansible/SUBDOMAIN_ROUTING_FIX.md
  infrastructure/ansible/applications/redis/README.md
  infrastructure/ansible/applications/redis/deploy.sh
  infrastructure/ansible/applications/redis/redis.nomad
  infrastructure/ansible/applications/redis/setup-consul-kv.yml
  infrastructure/ansible/applications/redis/verify-redis.sh
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/files/confd-redis.toml
  infrastructure/ansible/files/haproxy-redis.cfg.tmpl
  infrastructure/ansible/playbooks/infrastructure/07-install-redis-haproxy.yml
  infrastructure/ansible/templates/haproxy-redis-confd.cfg.j2
Due: none

fix: improve infrastructure error handling, timeouts, and health monitoring
  infrastructure/ansible/applications/redis/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/playbooks/infrastructure/04-install-etcd.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgpool.yml
  infrastructure/ansible/templates/etcd-health-check.service.j2
  infrastructure/ansible/templates/etcd-health-check.sh.j2
  infrastructure/ansible/templates/etcd-health-check.timer.j2
  infrastructure/ansible/templates/pgpool-health-check.service.j2
  infrastructure/ansible/templates/pgpool-health-check.sh.j2
  infrastructure/ansible/templates/pgpool-health-check.timer.j2
Due: none

feat: add TALLY_API_KEY configuration for web application
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/group_vars/all/web_vault.yml
Due: none

refactor: simplify UUID validation schemas in web app
  apps/web/lib/validations.ts
Due: none

fix: enforce subdomain-only routing and block path-based access
  apps/web/app/layout.tsx
  apps/web/middleware.ts
  infrastructure/ansible/SUBDOMAIN_ROUTING_FIX.md
Due: none

Delete SUBDOMAIN_ROUTING_FIX.md
  infrastructure/ansible/SUBDOMAIN_ROUTING_FIX.md
Due: none

fix: remove internal port from subdomain redirects
  apps/web/middleware.ts
Due: none

feat: enable wildcard subdomain routing with Traefik v3
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: none

chore: update prettier-plugin-tailwindcss to 0.6.13
  apps/web/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: none

feat: implement complete mapper deployment pipeline
  .github/workflows/build-mapper.yml
  infrastructure/ansible/applications/cloudflared/deploy.sh
  infrastructure/ansible/applications/github-runner/README.md
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/mapper/setup-consul-kv.yml
  infrastructure/ansible/applications/redis/README.md
  infrastructure/ansible/applications/redis/deploy.sh
  infrastructure/ansible/applications/redis/verify-redis.sh
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/docs/web-deployment-guide.md
  infrastructure/ansible/group_vars/all/mapper_vault.yml
Due: none

fix: add git to mapper Dockerfile for git dependencies
  apps/mapper/Dockerfile
Due: rust

fix: standardize health checks and remove host networking
  apps/discourse/main.rs
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/group_vars/all/mapper_vault.yml
Due: rust

wip
  CLAUDE.md
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-chart.tsx
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/redis/redis.nomad
  infrastructure/ansible/applications/redis/setup-consul-kv.yml
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/files/confd-redis.toml
  infrastructure/ansible/files/haproxy-redis.cfg.tmpl
  infrastructure/ansible/files/pgpool-full.conf.tmpl
  infrastructure/ansible/files/pgpool.conf.tmpl
  infrastructure/ansible/group_vars/all/main.yml
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/02-install-consul.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgpool.yml
  infrastructure/ansible/playbooks/infrastructure/07-install-redis-haproxy.yml
  infrastructure/ansible/playbooks/infrastructure/07-install-redis.yml
  infrastructure/ansible/playbooks/infrastructure/08-verify-database-connections.yml
  infrastructure/ansible/templates/patroni-etcd-only.yml.j2
  infrastructure/ansible/templates/pool_hba.conf.j2
  infrastructure/ansible/templates/redis-etcd-register.sh.j2
  infrastructure/ansible/templates/redis-health-check.sh.j2
  infrastructure/ansible/templates/redis-sentinel.conf.j2
  infrastructure/ansible/templates/redis.conf.j2
Due: none
