Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

wip
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-etcd.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-postgres.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-redis-unified.yml
  infrastructure/ansible/playbooks/infrastructure/06-install-pgpool.yml
  infrastructure/ansible/playbooks/infrastructure/06-verify-database-connections.yml
  infrastructure/ansible/playbooks/infrastructure/08-verify-database-connections.yml
  infrastructure/ansible/templates/patroni-etcd-only.yml.j2
Due: none

infra fixes
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/docs/postgresql-backup-strategy.md
  infrastructure/ansible/files/haproxy-redis.cfg.tmpl
  infrastructure/ansible/group_vars/all/vault.yml
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-redis-unified.yml
  infrastructure/ansible/templates/patroni-bootstrap.sql.j2
Due: none

wip
  infrastructure/ansible/applications/cloudflared/cloudflared.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: none

feat: add comprehensive observability stack with Grafana, Loki, Prometheus, and Alloy
  Cargo.toml
  OBSERVABILITY_MIGRATION.md
  apps/discourse/Cargo.toml
  apps/discourse/main.rs
  apps/email-service/package.json
  apps/mapper/Cargo.toml
  apps/mapper/main.rs
  apps/rindexer/Cargo.toml
  apps/rindexer/src/main.rs
  apps/web/package.json
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/discourse/setup-consul-kv.yml
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/mapper/setup-consul-kv.yml
  infrastructure/ansible/applications/observability/README.md
  infrastructure/ansible/applications/observability/alloy-simple.nomad
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
  infrastructure/ansible/applications/observability/prometheus.nomad
  infrastructure/ansible/applications/observability/setup-consul-kv.yml
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-observability.sh
  infrastructure/ansible/show-observability-urls.sh
  infrastructure/ansible/templates/nomad-client.hcl.j2
  libs/rust/utils/Cargo.toml
  libs/rust/utils/src/lib.rs
  libs/rust/utils/src/tracing.rs
  libs/ts/db/package.json
  yarn.lock
Due: rust, email-service

wip
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/observability/README.md
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
  infrastructure/ansible/applications/observability/prometheus.nomad
  infrastructure/ansible/deploy-observability.sh
Due: none

Update 01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
Due: none

wip
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/deploy-observability.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
Due: none

web health check
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/app/api/health/route.ts
Due: none

wip
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-redis-unified.yml
  infrastructure/ansible/templates/consul-client.hcl.j2
  infrastructure/ansible/templates/consul-server.hcl.j2
Due: none

wip
  apps/discourse/db_handler.rs
  apps/mapper/main.rs
  apps/observe/.gitignore
  apps/observe/docker-compose.yml
  apps/observe/grafana/grafana.ini
  apps/observe/grafana/provisioning/datasources/datasource.yml
  apps/observe/loki/loki-config.yml
  apps/observe/loki/promtail-config.yml
  apps/observe/otel-collector/otel-collector-config.yml
  apps/observe/prometheus/prometheus.yml
  apps/observe/tempo/tempo-config.yml
  apps/rindexer/src/extensions/db_extension.rs
  apps/web/lib/validations.ts
  infrastructure/ansible/applications/web/web.nomad
Due: rust

rindexer update
  Cargo.toml
  apps/rindexer/src/main.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token_abi_gen.rs
Due: rust

redis fix
  apps/web/cache-handler.mjs
  infrastructure/ansible/files/haproxy-redis.cfg.tmpl
Due: none

Update cache-handler.mjs
  apps/web/cache-handler.mjs
Due: none

wip
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/inventory.yml
Due: none

deps and query performance
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/page.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/package.json
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
  libs/ts/db/migrations/002_performance_indexes.ts
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: none

wip
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/files/deployment-checker.sh
  infrastructure/ansible/playbooks/setup-deployment-automation-simple.yml
  infrastructure/ansible/verify-deployment.sh
Due: none

wip
  .github/workflows/build-email-service.yml
  apps/email-service/Dockerfile
  infrastructure/ansible/applications/email-service/email-service.nomad
  infrastructure/ansible/applications/email-service/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/group_vars/all/email_service_vault.yml
Due: email-service

switch deployments
  apps/web/app/layout.tsx
  apps/web/middleware.ts
  infrastructure/ansible/applications/traefik/setup-consul-kv.yml
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/group_vars/all/main.yml
  infrastructure/ansible/group_vars/all/vault.yml
  infrastructure/ansible/group_vars/all/web_vault.yml
Due: none

fix: pass daoSlug as prop to MarkAllAsReadButton
  apps/web/app/(dao)/[daoSlug]/components/mark-all-as-read.tsx
  apps/web/app/(dao)/[daoSlug]/page.tsx
Due: none

refactor: align Uniswap page with Arbitrum implementation pattern
  apps/web/app/(dao)/uniswap/components/uniswap-action-bar-client.tsx
  apps/web/app/(dao)/uniswap/components/uniswap-action-bar.tsx
  apps/web/app/(dao)/uniswap/page.tsx
Due: none

deps
  apps/web/package.json
  libs/ts/db/src/index.ts
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: email-service

Update email-service-tests.yaml
  .github/workflows/email-service-tests.yaml
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  infrastructure/ansible/files/deployment-checker.sh
  infrastructure/ansible/playbooks/setup-deployment-automation-simple.yml
  libs/ts/db/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: email-service

CI fix
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/files/deployment-checker.sh
Due: none

deps
  .github/workflows/build-web.yml
  apps/email-service/package.json
  apps/web/Dockerfile
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: email-service

pgbackweb
  infrastructure/ansible/deploy-pgbackweb.sh
  infrastructure/ansible/group_vars/all/main.yml
  infrastructure/ansible/group_vars/all/pgbackweb_vault.yml
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/07-install-pgbackweb.yml
  infrastructure/ansible/templates/pgbackweb-docker-compose.yml.j2
  infrastructure/ansible/templates/pgbackweb.env.j2
Due: none

Add Homepage infrastructure dashboard
  infrastructure/ansible/applications/homepage/homepage.nomad
  infrastructure/ansible/applications/homepage/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/deploy-homepage.sh
Due: none

wip
  apps/rindexer/src/extensions/block_time.rs
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
  apps/rindexer/src/tasks/snapshot_proposals.rs
  apps/rindexer/src/tasks/snapshot_votes.rs
Due: rust

snapshot api improvements
  apps/rindexer/Cargo.toml
  apps/rindexer/src/extensions/snapshot_api.rs
Due: rust

deps
  Cargo.toml
  apps/rindexer/Cargo.toml
  apps/web/package.json
  yarn.lock
Due: rust

wip
  apps/web/package.json
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/templates/redis-health-check.sh.j2
  yarn.lock
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  yarn.lock
Due: email-service

mark all as read fix
  apps/web/app/(dao)/arbitrum/components/arbitrum-action-bar-client.tsx
  apps/web/package.json
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/show-observability-urls.sh
  infrastructure/ansible/verify-database-quick.sh
  infrastructure/ansible/verify-database.sh
  yarn.lock
Due: none

wip
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/timeline/mobile/result-mobile.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/timeline/result.tsx
  apps/web/app/(dao)/[daoSlug]/components/group-items/results/result-card.tsx
  apps/web/middleware.ts
  package.json
  yarn.lock
Due: none

Update deploy-infrastructure.sh
  infrastructure/ansible/deploy-infrastructure.sh
Due: none

Update setup-deployment-automation-simple.yml
  infrastructure/ansible/playbooks/setup-deployment-automation-simple.yml
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: email-service

Update snapshot_votes.rs
  apps/rindexer/src/tasks/snapshot_votes.rs
Due: rust

rindexer heartbeat
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
  infrastructure/ansible/group_vars/all/vault.yml
Due: none

Path conditions:
  rust: any of: apps/discourse, apps/mapper, apps/rindexer, libs/rust, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
  email-service: any of: apps/email-service, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
