Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

Upgrade rindexer for reorg-safe indexing
  Cargo.toml
  apps/rindexer/Cargo.toml
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/main.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/mod.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
Due: rust

Remove mapper embeddings and fix web adapter
  Cargo.toml
  apps/mapper/Cargo.toml
  apps/mapper/Dockerfile
  apps/mapper/config.rs
  apps/mapper/embeddings/mod.rs
  apps/mapper/embeddings/ollama.rs
  apps/mapper/embeddings/store.rs
  apps/mapper/embeddings/types.rs
  apps/mapper/main.rs
  apps/mapper/mapper.yaml
  apps/mapper/semantic_grouper.rs
  apps/web/app/layout.tsx
  apps/web/eslint.config.mjs
Due: rust

Skip unsupported Karma delegate sync
  apps/mapper/karma.rs
  apps/mapper/karma/api.rs
Due: rust

Install rustls provider in rindexer
  Cargo.toml
  apps/rindexer/Cargo.toml
  apps/rindexer/src/main.rs
Due: rust

Handle duplicate discourse like batches
  apps/discourse/db_handler.rs
  apps/discourse/tests/discourse_integration.rs
Due: rust

Fix mapping page links on DAO subdomains
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/page.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/links.test.mjs
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/page.tsx
Due: none

Add curl to mapping agent image
  apps/mapping-agent/Dockerfile
Due: none

Rename mapping audit tables
  apps/mapping-agent/src/shared/audit.ts
  libs/ts/db/migrations/018_mapping_schema_cleanup.ts
Due: none

Stop retrying declined delegate cases
  apps/mapping-agent/src/delegates/repository.test.ts
  apps/mapping-agent/src/delegates/repository.ts
  apps/mapping-agent/src/proposals/repository.ts
  apps/mapping-agent/src/shared/audit.ts
  libs/ts/db/migrations/019_delegate_no_match_terminal.ts
  libs/ts/db/migrations/020_mapping_audit_status.ts
Due: none

Strengthen delegate evidence prompt
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Refine mapping agent query budgets
  apps/mapping-agent/src/config.ts
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/proposals/extension.ts
  apps/mapping-agent/src/proposals/prompt.ts
  apps/mapping-agent/src/runtime/pi-runner.test.ts
  apps/mapping-agent/src/runtime/pi-runner.ts
  apps/mapping-agent/src/shared/query-budget.ts
Due: none

Strengthen delegate mapping
  apps/mapping-agent/src/delegates/deterministic.test.ts
  apps/mapping-agent/src/delegates/deterministic.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/repository.ts
Due: none

Harden delegate evidence prompt
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Abort crashed LM Studio sessions
  apps/mapping-agent/src/runtime/pi-runner.test.ts
  apps/mapping-agent/src/runtime/pi-runner.ts
Due: none

Treat delegate retirement as context
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Align delegate voter targets
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/repository.test.ts
  apps/mapping-agent/src/delegates/repository.ts
Due: none

Harden delegate evidence checks
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/worker.ts
Due: none

Harden delegate thread evidence prompts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Harden delegate mapping evidence
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/repository.test.ts
  apps/mapping-agent/src/delegates/repository.ts
Due: none

Reduce Gemma crash risk
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/shared/tool-response.test.ts
  apps/mapping-agent/src/shared/tool-response.ts
Due: none

Lower delegate read floor
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/worker.ts
Due: none

Fix Gemma tool parsing loop
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/runtime/lmstudio-text-actions.test.ts
  apps/mapping-agent/src/runtime/lmstudio-text-actions.ts
Due: none

Strengthen delegate mapping guidance
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/repository.ts
Due: none

Harden mapper evidence rules
  apps/mapping-agent/src/delegates/extension.test.ts
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/proposals/extension.test.ts
  apps/mapping-agent/src/proposals/extension.ts
Due: none

Prioritize Tally application leads
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Add shared-wallet mapper confirmation
  apps/mapping-agent/src/delegates/extension.test.ts
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/repository.ts
  apps/mapping-agent/src/delegates/write-guards.test.ts
  apps/mapping-agent/src/delegates/write-guards.ts
Due: none

Skip system forum identities
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/repository.test.ts
  apps/mapping-agent/src/delegates/repository.ts
Due: none

Use native LM Studio tool calls
  apps/mapping-agent/src/config.test.ts
  apps/mapping-agent/src/config.ts
  apps/mapping-agent/src/delegates/extension.test.ts
  apps/mapping-agent/src/delegates/extension.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/delegates/worker.ts
  apps/mapping-agent/src/proposals/extension.test.ts
  apps/mapping-agent/src/proposals/extension.ts
  apps/mapping-agent/src/proposals/worker.ts
  apps/mapping-agent/src/runtime/lmstudio-text-actions.test.ts
  apps/mapping-agent/src/runtime/lmstudio-text-actions.ts
  apps/mapping-agent/src/runtime/pi-runner.test.ts
  apps/mapping-agent/src/runtime/pi-runner.ts
  apps/mapping-agent/src/runtime/tool-transport.test.ts
  apps/mapping-agent/src/runtime/tool-transport.ts
  apps/mapping-agent/src/shared/query-result-guard.ts
Due: none

Fix Qwen native tool handling
  apps/mapping-agent/src/config.test.ts
  apps/mapping-agent/src/config.ts
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
  apps/mapping-agent/src/runtime/pi-runner.test.ts
  apps/mapping-agent/src/runtime/pi-runner.ts
Due: none

Tighten delegate search modes
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Persist mapping session traces
  apps/mapping-agent/src/config.test.ts
  apps/mapping-agent/src/config.ts
  apps/mapping-agent/src/delegates/worker.ts
  apps/mapping-agent/src/proposals/worker.ts
  apps/mapping-agent/src/shared/audit.ts
  apps/mapping-agent/src/shared/session-audit.test.ts
  apps/mapping-agent/src/shared/session-audit.ts
  libs/ts/db/migrations/021_mapping_audit_session_trace.ts
Due: none

Harden DAO-scoped prompt rules
  apps/mapping-agent/src/delegates/prompt.test.ts
  apps/mapping-agent/src/delegates/prompt.ts
Due: none

Fix snapshot vote history handling
  apps/rindexer/src/tasks/snapshot_indexer.rs
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
Due: rust

Fix read state, email delivery, and worker supervision
  apps/email-service/src/index.ts
  apps/email-service/src/notification-delivery.test.ts
  apps/email-service/src/notification-delivery.ts
  apps/rindexer/src/lib.rs
  apps/rindexer/src/main.rs
  apps/rindexer/src/supervision.rs
  apps/rindexer/tests/supervision.rs
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/lib/auth/auth.ts
  apps/web/lib/auth/email-delivery.test.ts
  apps/web/lib/auth/email-delivery.ts
  apps/web/lib/last-read-update.test.ts
  apps/web/lib/last-read-update.ts
  apps/web/lib/public-error-message.test.ts
  apps/web/lib/public-error-message.ts
  apps/web/lib/server-actions-utils.ts
  apps/web/vitest.config.ts
  libs/ts/emails/emails/change-email.tsx
Due: rust, email-service

Update workspace dependencies
  Cargo.toml
  apps/email-service/package.json
  apps/mapping-agent/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/db/pnpm-lock.yaml
  libs/ts/emails/package.json
  libs/ts/emails/pnpm-lock.yaml
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: email-service

Path conditions:
  rust: any of: apps/discourse, apps/mapper, apps/rindexer, libs/rust, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
  email-service: any of: apps/email-service, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
