Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

Update Dockerfile
  apps/mapper/Dockerfile
Due: rust

Update grouper.rs
  apps/mapper/grouper.rs
Due: rust

deps
  Cargo.toml
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: none

rust update
  apps/discourse/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
Due: rust

deps
  apps/web/package.json
  yarn.lock
Due: none

Update index.ts
  apps/email-service/src/index.ts
Due: email-service

remove workflows
  .github/workflows/build-discourse.yml
  .github/workflows/build-email-service.yml
  .github/workflows/build-mapper.yml
  .github/workflows/build-rindexer.yml
  .github/workflows/build-web.yml
  .github/workflows/chromatic.yml
  .github/workflows/runner-cleanup.yml
  .github/workflows/rust-tests.yaml
Due: none

deps update
  .cargo/config.toml
  Cargo.toml
  apps/email-service/package.json
  apps/mapper/Cargo.toml
  apps/mapper/grouper.rs.bak
  apps/mapper/main.rs
  apps/mapper/redis_cache.rs
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  rust-toolchain.toml
  yarn.lock
Due: rust, email-service

deps
  Cargo.toml
  apps/rindexer/src/tasks/snapshot_votes.rs
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: rust

snapshot batch size
  apps/rindexer/src/tasks/snapshot_proposals.rs
  apps/rindexer/src/tasks/snapshot_votes.rs
Due: rust

snapshot refactor
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/main.rs
  apps/rindexer/src/tasks/mod.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
  apps/rindexer/src/tasks/snapshot_proposals.rs
  apps/rindexer/src/tasks/snapshot_votes.rs
Due: rust

Update snapshot_indexer.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
Due: rust

snapshot wip
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
Due: rust

Update snapshot_api.rs
  apps/rindexer/src/extensions/snapshot_api.rs
Due: rust

disable homepage
  Cargo.toml
  apps/email-service/package.json
  apps/web/app/page.tsx
  apps/web/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: email-service

redirect to arbitrum.
  apps/web/app/page.tsx
  apps/web/middleware.ts
Due: none

deps
  .npmrc
  .yarnrc.yml
  CLAUDE.md
  Cargo.toml
  apps/email-service/Dockerfile
  apps/email-service/package.json
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
  apps/web/.env.example
  apps/web/.storybook/main.cjs
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/scripts/test-e2e.sh
  libs/ts/db/pnpm-lock.yaml
  libs/ts/emails/package.json
  libs/ts/emails/pnpm-lock.yaml
  libs/ts/visual-dom-diff/pnpm-lock.yaml
  libs/ts/visual-dom-diff/yarn.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  update-deps.sh
  yarn.lock
Due: rust, email-service

fix rindexer
  Cargo.toml
  apps/rindexer/Dockerfile
Due: rust

deps update
  .vscode/settings.json
  .vscode/tasks.json
  Cargo.toml
  apps/email-service/Dockerfile
  apps/email-service/package.json
  apps/web/Dockerfile
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  pnpm-lock.yaml
Due: email-service

deps and results fix
  Cargo.toml
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-list.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/results.tsx
  apps/web/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix quorum and participation bars
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-list.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/results.tsx
  apps/web/lib/results_processing.ts
  pnpm-lock.yaml
Due: none

mapping fixes
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/actions.ts
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/components/proposal-group.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/components/ui/search/fuzzy-voter-search.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/actions.ts
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/components/edit-delegate-row.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/page.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/page.tsx
Due: none

build fixes
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-list.tsx
Due: none

cleanup
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-list.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/page.tsx
Due: none

Update page.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/page.tsx
Due: none

docker cleanup
  apps/discourse/Dockerfile
  apps/email-service/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
  apps/web/Dockerfile
  libs/ts/emails/src/index.ts
Due: rust, email-service

Update middleware.ts
  apps/web/middleware.ts
Due: none

Update page.tsx
  apps/web/app/(dao)/arbitrum/page.tsx
Due: none

skeleton fixes
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-list.tsx
  apps/web/app/components/ui/skeleton.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: none

bars fix
  Cargo.toml
  apps/email-service/package.json
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/package.json
  libs/ts/emails/package.json
  pnpm-lock.yaml
Due: email-service

hidden votes
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
Due: rust

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

shutter fix
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
Due: rust

Update Cargo.toml
  Cargo.toml
Due: none

Path conditions:
  rust: any of: apps/discourse, apps/mapper, apps/rindexer, libs/rust, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
  email-service: any of: apps/email-service, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
