Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

wip
  Cargo.toml
  apps/rindexer/src/rindexer_lib/typings/mod.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/mod.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/mod.rs
Due: rust

smaller models
  apps/mapper/embeddings.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

unlimited
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/main.rs
  apps/rindexer/src/rindexer_lib/typings/mod.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/mod.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/mod.rs
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: rust

wip
  Cargo.toml
  apps/mapper/Cargo.toml
  apps/mapper/main.rs
  apps/mapper/redis_embeddings.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

mapper cache
  apps/mapper/grouper.rs
  apps/mapper/redis_embeddings.rs
  apps/mapper/test_group_backtest.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

Update main.rs
  apps/rindexer/src/main.rs
Due: rust

Update mapper.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: none

indexer
  Cargo.toml
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  yarn.lock
Due: email-service

wip
  infrastructure/ansible/applications/github-runner/deploy-cleanup-system.yml
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.sh
  infrastructure/ansible/applications/github-runner/files/github-runner-disk-monitor.sh
  infrastructure/ansible/applications/github-runner/files/github-runner-disk-monitor.timer
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
Due: none

wip
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

Update rindexer.yaml
  apps/rindexer/rindexer.yaml
Due: rust

wip
  .github/workflows/build-discourse.yml
  .github/workflows/build-mapper.yml
  .github/workflows/build-rindexer.yml
  .github/workflows/rust-tests.yaml
  apps/discourse/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/web/package.json
  yarn.lock
Due: rust

Update Dockerfile
  apps/rindexer/Dockerfile
Due: rust

Update rust-tests.yaml
  .github/workflows/rust-tests.yaml
Due: none

better grouper
  apps/mapper/grouper.rs
  infrastructure/ansible/applications/rindexer/rindexer.nomad
Due: rust

wip
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-observability.sh
  infrastructure/ansible/files/haproxy-redis.cfg.tmpl
  infrastructure/ansible/files/pgpool.conf.tmpl
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-redis-unified.yml
  infrastructure/ansible/playbooks/infrastructure/07-install-pgbackweb.yml
  infrastructure/ansible/templates/pgpool-health-check.service.j2
  infrastructure/ansible/templates/pgpool-health-check.sh.j2
  infrastructure/ansible/templates/redis.conf.j2
  infrastructure/ansible/verify-database.sh
Due: none

wip
  infrastructure/ansible/applications/cloudflared/cloudflared.nomad
  infrastructure/ansible/applications/consul-ingress/consul-ingress.nomad
  infrastructure/ansible/applications/homepage/homepage.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
  infrastructure/ansible/applications/observability/prometheus.nomad
  infrastructure/ansible/applications/traefik/setup-consul-kv.yml
  infrastructure/ansible/applications/traefik/traefik.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/templates/consul-server.hcl.j2
  infrastructure/ansible/templates/nomad-client.hcl.j2
Due: none

infra
  apps/discourse/main.rs
  apps/rindexer/src/main.rs
  infrastructure/ansible/applications/cloudflared/cloudflared.nomad
  infrastructure/ansible/applications/consul-ingress/consul-ingress.nomad
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/email-service/email-service.nomad
  infrastructure/ansible/applications/homepage/homepage.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
  infrastructure/ansible/applications/observability/prometheus.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/templates/nomad-client.hcl.j2
  infrastructure/ansible/templates/nomad-server.hcl.j2
Due: rust

Update grafana.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: email-service

wip
  apps/discourse/main.rs
  apps/email-service/src/config/index.ts
  apps/rindexer/src/main.rs
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/email-service/email-service.nomad
  infrastructure/ansible/applications/homepage/homepage.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: rust, email-service

deps
  apps/web/package.json
  yarn.lock
Due: none

routing fixes
  infrastructure/ansible/applications/homepage/homepage.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: none

grouper for all
  apps/mapper/grouper.rs
  apps/mapper/main.rs
  apps/mapper/redis_embeddings.rs
  apps/mapper/test_group_backtest.rs
Due: rust

wip
  apps/mapper/grouper.rs
  apps/mapper/main.rs
  apps/mapper/test_group_backtest.rs
Due: rust

better ranker
  apps/mapper/grouper.rs
  apps/mapper/main.rs
  apps/mapper/redis_embeddings.rs
Due: rust

wip
  apps/mapper/main.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

mapper health
  apps/web/package.json
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  yarn.lock
Due: none

grouper fix
  apps/mapper/grouper.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

Update grouper.rs
  apps/mapper/grouper.rs
Due: rust

Update dao-config.ts
  apps/web/app/components/landing/dao-config.ts
Due: none

wip
  apps/mapper/Cargo.toml
  apps/mapper/grouper.rs
  apps/mapper/karma.rs
  apps/mapper/main.rs
  apps/mapper/redis_cache.rs
  apps/mapper/redis_embeddings.rs
  apps/mapper/rust-toolchain.toml
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: rust

wip
  .gitignore
  apps/mapper/grouper.rs
Due: rust

nightly
  .zed/settings.json
  apps/mapper/rust-toolchain.toml
  rust-toolchain.toml
Due: rust

Update Dockerfile
  apps/mapper/Dockerfile
Due: rust

Path conditions:
  rust: any of: apps/discourse, apps/mapper, apps/rindexer, libs/rust, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
  email-service: any of: apps/email-service, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
