Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

mapper
  apps/mapper/Dockerfile
  apps/mapper/grouper.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/mapper/setup-consul-kv.yml
  infrastructure/ansible/group_vars/all/mapper_vault.yml
Due: rust

wip
  apps/mapper/Cargo.toml
  apps/mapper/grouper.rs
Due: rust

fix(mapper): Add debug logging and CARGO_TARGET_DIR env var
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: none

Update grouper.rs
  apps/mapper/grouper.rs
Due: rust

wip
  apps/mapper/Dockerfile
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

wip
  apps/mapper/grouper.rs
Due: rust

deps
  apps/email-service/package.json
  yarn.lock
Due: email-service

build fixes
  .github/workflows/email-service-tests.yaml
  apps/email-service/package.json
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/ai-summary.tsx
  apps/web/app/api/summary/route.ts
  apps/web/app/components/ui/skeleton.tsx
  apps/web/package.json
  yarn.lock
Due: email-service

cleanup
  apps/discourse/db_handler.rs
  apps/discourse/discourse_api.rs
  apps/discourse/indexers/categories.rs
  apps/discourse/indexers/likes.rs
  apps/discourse/indexers/posts.rs
  apps/discourse/indexers/revisions.rs
  apps/discourse/indexers/topics.rs
  apps/discourse/indexers/users.rs
  apps/discourse/main.rs
  apps/discourse/models/revisions/markdown_changes.rs
  apps/mapper/Dockerfile
  apps/mapper/grouper.rs
  apps/mapper/karma.rs
  apps/mapper/main.rs
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
  apps/web/package.json
  infrastructure/ansible/applications/github-runner/deploy-cleanup-system.yml
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.sh
  infrastructure/ansible/applications/github-runner/files/github-runner-disk-monitor.sh
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
  libs/rust/utils/src/test_utils.rs
  yarn.lock
Due: rust

wip
  apps/mapper/Dockerfile
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/web/web.nomad
Due: rust

Update Dockerfile
  apps/mapper/Dockerfile
Due: rust

Update Navigation.tsx
  apps/web/app/components/landing/Navigation.tsx
Due: none

wip
  apps/mapper/main.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

fix: Ensure mapper builds and runs on same CPU architecture (dc2)
  .github/workflows/build-mapper.yml
  apps/mapper/Dockerfile
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: rust

gpu infra
  apps/mapper/grouper.rs
  apps/mapper/main.rs
  infrastructure/README.md
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/deploy-infrastructure.sh
  infrastructure/ansible/docs/database-architecture-diagram.md
  infrastructure/ansible/docs/infrastructure-architecture.md
  infrastructure/ansible/docs/postgresql-backup-strategy.md
  infrastructure/ansible/group_vars/all/main.yml
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/scripts/check-gpu-status.sh
  infrastructure/ansible/templates/gpu-health-check.service.j2
  infrastructure/ansible/templates/gpu-health-check.sh.j2
  infrastructure/ansible/templates/gpu-health-check.timer.j2
Due: rust

feat: Enable GPU support for mapper service
  apps/mapper/Dockerfile
Due: rust

fix: Use NVIDIA CUDA base images for GPU support
  apps/mapper/Dockerfile
Due: rust

Update index.ts
  apps/email-service/src/index.ts
Due: email-service

wip
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
  infrastructure/ansible/templates/nomad-client.hcl.j2
Due: none

mapper improvements
  Cargo.toml
  apps/mapper/Cargo.toml
  apps/mapper/grouper.rs
Due: rust

stale groups
  apps/mapper/grouper.rs
  infrastructure/ansible/playbooks/infrastructure/01-provision-and-prepare-lxcs.yml
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
Due: rust

dynamic threshold prompts
  apps/mapper/grouper.rs
Due: rust

Path conditions:
  rust: any of: apps/discourse, apps/mapper, apps/rindexer, libs/rust, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
  email-service: any of: apps/email-service, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
