Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

docker user
  apps/discourse/Dockerfile
  apps/email-service/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
  apps/web/Dockerfile
Due: rust, email-service

etherscan v2
  apps/rindexer/src/extensions/block_time.rs
  apps/web/.env.example
Due: rust

voting_power_timeseries fix
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
Due: rust

calculate_total_delegated_voting_power refactor
  Cargo.toml
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/web/package.json
  libs/ts/emails/package.json
  pnpm-lock.yaml
Due: rust

Update db_extension.rs
  apps/rindexer/src/extensions/db_extension.rs
Due: rust

dockerfiles
  apps/discourse/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
  libs/rust/db/Cargo.toml
Due: rust

deps update
  .gitignore
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

Update index.ts
  apps/email-service/src/index.ts
Due: email-service

Update Cargo.toml
  Cargo.toml
Due: none

Update ollama.rs
  apps/mapper/embeddings/ollama.rs
Due: rust

semantic grouping
  apps/mapper/Cargo.toml
  apps/mapper/embeddings/mod.rs
  apps/mapper/embeddings/ollama.rs
  apps/mapper/embeddings/store.rs
  apps/mapper/main.rs
  apps/mapper/semantic_grouper.rs
Due: rust

semantic grouping
  Cargo.toml
  apps/mapper/Cargo.toml
  apps/mapper/embeddings/ollama.rs
  apps/mapper/main.rs
Due: rust

wip
  Cargo.toml
  apps/mapper/Cargo.toml
  apps/mapper/embeddings/ollama.rs
Due: rust

wip
  apps/mapper/embeddings/ollama.rs
  apps/mapper/embeddings/store.rs
Due: rust

doppler
  .envrc
  apps/web/.env.example
Due: none

wip
  apps/mapper/grouper.rs
  apps/mapper/semantic_grouper.rs
Due: rust

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/emails/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

Add event_stream field for rindexer 0.29.0 compatibility
  apps/rindexer/src/main.rs
Due: rust

Refactor mapper grouping and config
  Cargo.toml
  apps/discourse/Dockerfile
  apps/email-service/Dockerfile
  apps/mapper/Cargo.toml
  apps/mapper/Dockerfile
  apps/mapper/config.rs
  apps/mapper/embeddings/mod.rs
  apps/mapper/embeddings/ollama.rs
  apps/mapper/embeddings/store.rs
  apps/mapper/grouper.rs
  apps/mapper/grouper/load.rs
  apps/mapper/grouper/matching.rs
  apps/mapper/grouper/persist.rs
  apps/mapper/grouper/url.rs
  apps/mapper/karma.rs
  apps/mapper/karma/api.rs
  apps/mapper/karma/sync.rs
  apps/mapper/main.rs
  apps/mapper/mapper.yaml
  apps/mapper/semantic_grouper.rs
  apps/rindexer/Dockerfile
  apps/web/Dockerfile
Due: rust, email-service

Update Dockerfile
  apps/web/Dockerfile
Due: none

Update rindexer to v0.31.0 and upgrade all dependencies
  Cargo.toml
  apps/discourse/Cargo.toml
  apps/discourse/tests/discourse_integration.rs
  apps/discourse/tests/live_discourse.rs
  apps/email-service/package.json
  apps/mapper/Cargo.toml
  apps/rindexer/Cargo.toml
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: rust, email-service

Enable Cache Components and improve SEO/performance
  .gitignore
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/opengraph-image.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/page.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/layout.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/page.tsx
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/app/(dao)/[daoSlug]/components/navigation/nav-bar.tsx
  apps/web/app/(marketing)/components/landing/Navigation.tsx
  apps/web/app/api/metrics/route.ts
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/next.config.mjs
  apps/web/package.json
Due: none

Update dependencies
  Cargo.toml
  apps/email-service/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

Update next.config.mjs
  apps/web/next.config.mjs
Due: none

Fix ON CONFLICT for partial unique indexes on vote, delegation, voting_power
  apps/rindexer/src/extensions/db_extension.rs
Due: rust

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

Fix snapshot vote indexing consistency
  apps/rindexer/src/tasks/snapshot_indexer.rs
Due: rust

Optimize database paths and pool behavior
  apps/discourse/db_handler.rs
  apps/discourse/indexers/posts.rs
  apps/mapper/embeddings/store.rs
  apps/mapper/main.rs
  apps/rindexer/src/extensions/db_extension.rs
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/actions.ts
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/actions.ts
  apps/web/app/(marketing)/components/landing/actions.ts
  apps/web/app/api/discourse/[daoSlug]/proposal-state/[topicSlug]/route.tsx
  libs/ts/db/migrations/013_discourse_post_like_unique_index.ts
  libs/ts/db/src/index.ts
Due: rust

Fix service Docker runtime users and bases
  apps/discourse/Dockerfile
  apps/email-service/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
Due: rust, email-service

Fix deployment issues and update dependencies
  Cargo.toml
  apps/discourse/Dockerfile
  apps/email-service/Dockerfile
  apps/email-service/package.json
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/tasks/onchain_proposals_updates.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
  apps/web/Dockerfile
  apps/web/eslint.config.mjs
  apps/web/lib/auth/auth.ts
  apps/web/next.config.mjs
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/db/pnpm-lock.yaml
  libs/ts/emails/package.json
  libs/ts/emails/pnpm-lock.yaml
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: rust, email-service

Fix Docker build failures across all services
  apps/discourse/Dockerfile
  apps/email-service/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
  apps/web/next.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Due: rust, email-service

Add vote reconciliation for recently ended Snapshot proposals
  apps/rindexer/src/tasks/snapshot_indexer.rs
Due: rust

Path conditions:
  rust: any of: apps/discourse, apps/mapper, apps/rindexer, libs/rust, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
  email-service: any of: apps/email-service, but not: node_modules, target, dist, build, coverage, **/*.test.ts, **/*.test.js, **/*.spec.ts, **/*.spec.js, **/*.d.ts, **/.storybook, **/storybook-static, apps/web/e2e, apps/observe, libs/ts/visual-dom-diff
