Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

flags:
  rust:
    paths:
      - apps/discourse
      - apps/mapper
      - apps/rindexer
      - libs/rust
    carryforward: true

  email-service:
    paths:
      - apps/email-service
    carryforward: true

ignore:
  - "node_modules"
  - "target"
  - "dist"
  - "build"
  - "coverage"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "**/*.d.ts"
  - "**/.storybook"
  - "**/storybook-static"
  - "apps/web/e2e"
  - "apps/observe"
  - "libs/ts/visual-dom-diff"

Update Dockerfile
  apps/mapper/Dockerfile
Due: rust

fix(mapper): add NVIDIA ML library to runtime image for GPU detection
  apps/mapper/Dockerfile
Due: rust

fix(mapper): properly configure CUDA support for GPU detection
  apps/mapper/Dockerfile
Due: rust

fix(mapper): use CUDA runtime image for required libraries
  apps/mapper/Dockerfile
Due: rust

fix(mapper): upgrade to CUDA 12.6.2 for driver 575 compatibility
  apps/mapper/Dockerfile
Due: rust

Update mapper.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
Due: none

observability cleanup
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
  infrastructure/ansible/applications/observability/observability-agents.nomad
  infrastructure/ansible/applications/observability/observability-core.nomad
  infrastructure/ansible/applications/observability/prometheus.nomad
  infrastructure/ansible/deploy-observability.sh
Due: none

deps
  apps/web/package.json
  package.json
  yarn.lock
Due: none

wip
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/app/(dao)/[daoSlug]/components/safari-loading-fix.tsx
  apps/web/app/(dao)/[daoSlug]/loading.tsx
  apps/web/app/(dao)/[daoSlug]/page.tsx
  apps/web/styles/globals.css
Due: none

deps
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  yarn.lock
Due: email-service

Update HeroClient.tsx
  apps/web/app/components/landing/HeroClient.tsx
Due: none

Update Hero.tsx
  apps/web/app/components/landing/Hero.tsx
Due: none

wip
  apps/web/app/api/ready/route.ts
  apps/web/lib/redis.ts
  infrastructure/ansible/applications/web/web.nomad
Due: none

Update route.ts
  apps/web/app/api/ready/route.ts
Due: none

cleanup
  apps/email-service/package.json
  apps/email-service/src/index.ts
  apps/email-service/tsconfig.json
  eslint.config.mjs
  infrastructure/ansible/applications/consul-ingress/consul-ingress.nomad
  infrastructure/ansible/applications/dashboard/dashboard.nomad
  infrastructure/ansible/applications/dashboard/setup-consul-kv.yml
  infrastructure/ansible/applications/discourse-forum/setup-consul-kv.yml
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/discourse/setup-consul-kv.yml
  infrastructure/ansible/applications/email-service/email-service.nomad
  infrastructure/ansible/applications/email-service/setup-consul-kv.yml
  infrastructure/ansible/applications/erpc/setup-consul-kv.yml
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/mapper/setup-consul-kv.yml
  infrastructure/ansible/applications/observability/observability-agents.nomad
  infrastructure/ansible/applications/observability/observability-core.nomad
  infrastructure/ansible/applications/observability/setup-consul-kv.yml
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/applications/web/setup-consul-kv.yml
  infrastructure/ansible/deploy-application.sh
  infrastructure/ansible/deploy-discourse-forum.sh
  infrastructure/ansible/group_vars/all/discourse_forum_vault.yml
  libs/ts/emails/components/unsubscribe.tsx
  libs/ts/emails/emails/ending-proposal.tsx
  libs/ts/emails/emails/new-discussion.tsx
  libs/ts/emails/emails/new-proposal.tsx
  yarn.lock
Due: email-service

deps
  Cargo.toml
  apps/email-service/src/index.ts
  apps/rindexer/src/rindexer_lib/typings/database.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
Due: rust, email-service

Update index.ts
  apps/email-service/src/index.ts
Due: email-service

wip
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/lib/redis.ts
  apps/web/next.config.mjs
Due: none

wip
  apps/web/app/(dao)/[daoSlug]/actions.ts
  infrastructure/ansible/group_vars/all/erpc_vault.yml
  libs/ts/db/migrations/000_public.ts
  libs/ts/db/migrations/002_performance_indexes.ts
  libs/ts/db/migrations/003_fix_voting_power_delegation_constraints.ts
  libs/ts/db/migrations/004_remove_txid_from_constraints.ts
  libs/ts/db/migrations/005_dao_route_optimizations.ts
  libs/ts/db/migrations/006_materialized_views.ts
  libs/ts/db/seeds/001_arbitrum.ts
  libs/ts/db/seeds/002_uniswap.ts
  libs/ts/db/src/kysely_db.ts
  libs/ts/db/src/materialized-views.ts
Due: none

Update results.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/results.tsx
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/templates/patroni-bootstrap.sql.j2
  infrastructure/ansible/templates/patroni-etcd-only.yml.j2
  yarn.lock
Due: email-service

wip
  apps/discourse/discourse_api.rs
  apps/discourse/main.rs
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/result/results-title.tsx
  apps/web/package.json
  infrastructure/ansible/inventory.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  libs/rust/db/src/models/dao.rs
  libs/rust/db/src/models/dao_discourse.rs
  libs/rust/db/src/models/dao_governor.rs
  libs/rust/db/src/models/delegate.rs
  libs/rust/db/src/models/delegate_to_discourse_user.rs
  libs/rust/db/src/models/delegate_to_voter.rs
  libs/rust/db/src/models/delegation.rs
  libs/rust/db/src/models/discourse_category.rs
  libs/rust/db/src/models/discourse_post.rs
  libs/rust/db/src/models/discourse_post_like.rs
  libs/rust/db/src/models/discourse_post_revision.rs
  libs/rust/db/src/models/discourse_topic.rs
  libs/rust/db/src/models/discourse_user.rs
  libs/rust/db/src/models/job_queue.rs
  libs/rust/db/src/models/kysely_migration.rs
  libs/rust/db/src/models/kysely_migration_lock.rs
  libs/rust/db/src/models/mod.rs
  libs/rust/db/src/models/prelude.rs
  libs/rust/db/src/models/proposal.rs
  libs/rust/db/src/models/proposal_group.rs
  libs/rust/db/src/models/sea_orm_active_enums.rs
  libs/rust/db/src/models/vote.rs
  libs/rust/db/src/models/voter.rs
  libs/rust/db/src/models/voting_power.rs
  libs/ts/db/migrations/000_public.ts
  libs/ts/db/migrations/002_performance_indexes.ts
  libs/ts/db/seeds/001_arbitrum.ts
  libs/ts/db/seeds/002_uniswap.ts
  libs/ts/db/src/kysely_db.ts
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: rust

Update db_extension.rs
  apps/rindexer/src/extensions/db_extension.rs
Due: rust

wip
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/feed/actions.ts
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/actions.ts
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/app/api/discourse/[daoSlug]/vp-tag/[username]/route.ts
  apps/web/package.json
  libs/rust/db/src/models/dao.rs
  libs/rust/db/src/models/mod.rs
  libs/rust/db/src/models/prelude.rs
  libs/rust/utils/src/test_utils.rs
  libs/ts/db/migrations/002_performance_indexes.ts
  libs/ts/db/migrations/003_voting_power_optimization.ts
  libs/ts/db/src/kysely_db.ts
  libs/ts/emails/package.json
  yarn.lock
Due: rust

models
  .gitignore
  libs/rust/db/src/models/test_verification.rs
  libs/rust/db/src/models/voting_power_latest.rs
  libs/rust/db/src/models/voting_power_timeseries.rs
Due: rust

group list query
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/app/(dao)/[daoSlug]/page.tsx
  apps/web/app/(dao)/arbitrum/page.tsx
  apps/web/app/(dao)/uniswap/page.tsx
  libs/ts/db/migrations/004_group_performance_indexes.ts
Due: none

cache
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/next.config.mjs
Due: none

wip
  apps/rindexer/src/extensions/db_extension.rs
  infrastructure/ansible/applications/web/web.nomad
  libs/ts/db/migrations/005_vote_unique_constraint.ts
  libs/ts/db/migrations/006_voting_power_unique_constraint.ts
  libs/ts/db/migrations/007_delegation_unique_constraint.ts
Due: rust

deps update
  Cargo.toml
  apps/rindexer/src/extensions/db_extension.rs
Due: rust

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/migrations/008_add_unique_constraints.ts
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: email-service

erpc fix
  infrastructure/ansible/applications/erpc/erpc.nomad
  infrastructure/ansible/applications/erpc/setup-consul-kv.yml
  infrastructure/ansible/group_vars/all/erpc_vault.yml
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: none

deps update
  Cargo.toml
  apps/rindexer/src/extensions/block_time.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token.rs
Due: rust

Update main.rs
  apps/discourse/main.rs
Due: rust

Update karma.rs
  apps/mapper/karma.rs
Due: rust
