Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

flags:
  rust:
    paths:
      - apps/discourse
      - apps/mapper
      - apps/rindexer
      - libs/rust
    carryforward: true

  email-service:
    paths:
      - apps/email-service
    carryforward: true

ignore:
  - "node_modules"
  - "target"
  - "dist"
  - "build"
  - "coverage"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "**/*.d.ts"
  - "**/.storybook"
  - "**/storybook-static"
  - "apps/web/e2e"
  - "apps/observe"
  - "libs/ts/visual-dom-diff"

deps
  Cargo.toml
  apps/web/package.json
  libs/ts/visual-dom-diff/package.json
  libs/ts/visual-dom-diff/yarn.lock
  yarn.lock
Due: none

deps
  apps/web/package.json
  yarn.lock
Due: none

wip
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-redis-unified.yml
Due: none

wip
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/email-service/email-service.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/playbooks/infrastructure/03-install-nomad.yml
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/playbooks/infrastructure/05-install-redis-unified.yml
  infrastructure/ansible/playbooks/infrastructure/07-install-pgbackweb.yml
  infrastructure/ansible/templates/pgbackweb-docker-compose.yml.j2
  infrastructure/ansible/templates/pgbackweb.service.j2
Due: none

deps
  Cargo.toml
  apps/web/package.json
  yarn.lock
Due: none

wip
  apps/web/app/components/landing/FeatureSection.tsx
  apps/web/app/components/landing/FinalSection.tsx
  apps/web/app/components/landing/FullPageSection.tsx
  apps/web/app/components/landing/Hero.tsx
  apps/web/app/components/landing/HeroClient.tsx
  apps/web/app/components/landing/Navigation.tsx
  apps/web/app/components/landing/PledgeSection.tsx
  apps/web/app/components/landing/actions.ts
  apps/web/app/components/landing/index.ts
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/styles/globals.css
  yarn.lock
Due: none

wip
  apps/email-service/package.json
  apps/web/app/components/landing/Navigation.tsx
  apps/web/app/components/landing/actions.ts
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/storybook-test.log
  yarn.lock
Due: email-service

Update actions.ts
  apps/web/app/components/landing/actions.ts
Due: none

Update page.tsx
  apps/web/app/page.tsx
Due: none

wip
  apps/web/cache-handler.mjs
  libs/ts/db/src/index.ts
Due: none

wip
  apps/web/app/components/landing/FeatureSection.tsx
  apps/web/app/components/landing/FinalSection.tsx
  apps/web/app/components/landing/FullPageSection.tsx
  apps/web/app/components/landing/HeroClient.tsx
  apps/web/app/components/landing/Navigation.tsx
  apps/web/app/components/landing/PledgeSection.tsx
  apps/web/app/components/providers/safari-viewport-provider.tsx
  apps/web/app/hooks/useSafariViewportFix.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/styles/globals.css
  apps/web/tailwind.config.mjs
Due: none

wip
  apps/rindexer/abis/UniGovernor.abi.json
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/extensions/block_time.rs
  apps/rindexer/src/rindexer_lib/indexers/all_handlers.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/mod.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/mod.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor_abi_gen.rs
  apps/rindexer/src/tasks/onchain_proposals_updates.rs
  apps/web/app/components/landing/FinalSection.tsx
  apps/web/app/components/landing/Hero.tsx
  apps/web/public/assets/project-logos/uniswap.svg
  apps/web/public/assets/project-logos/uniswap_dark.svg
Due: rust

wip
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  apps/web/app/components/landing/Hero.tsx
  apps/web/app/components/landing/Navigation.tsx
  apps/web/app/components/landing/dao-config.ts
Due: rust

wip
  apps/discourse/main.rs
  apps/mapper/grouper.rs
  apps/rindexer/src/extensions/db_extension.rs
  libs/ts/db/migrations/003_fix_voting_power_delegation_constraints.ts
Due: rust

runners cleanup
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.service
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.sh
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.timer
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
Due: none

Update db_extension.rs
  apps/rindexer/src/extensions/db_extension.rs
Due: rust

ethcall support with 2 rpcs
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/extensions/ethereum_rpc.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

Update networks.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

wip
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
  libs/rust/db/src/models/delegation.rs
  libs/rust/db/src/models/mod.rs
  libs/rust/db/src/models/prelude.rs
  libs/rust/db/src/models/test_verification.rs
  libs/rust/db/src/models/voting_power.rs
  libs/ts/db/migrations/004_remove_txid_from_constraints.ts
  libs/ts/db/src/kysely_db.ts
Due: rust

Update block_time.rs
  apps/rindexer/src/extensions/block_time.rs
Due: rust

wip
  infrastructure/ansible/playbooks/infrastructure/04-install-postgres-unified.yml
  infrastructure/ansible/templates/pgpool-check-primary.sh.j2
Due: none

cargo b
  apps/rindexer/src/extensions/ethereum_rpc.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

Revert "cargo b"
  apps/rindexer/src/extensions/ethereum_rpc.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

wip
  apps/discourse/db_handler.rs
  apps/discourse/main.rs
  apps/mapper/grouper.rs
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/extensions/ethereum_rpc.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: rust

wip
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: rust

wip
  apps/rindexer/rindexer.yaml
  infrastructure/ansible/applications/discourse/discourse.nomad
  infrastructure/ansible/applications/email-service/email-service.nomad
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/rindexer/rindexer.nomad
Due: rust

Update rust-tests.yaml
  .github/workflows/rust-tests.yaml
Due: none

rename full rpcs to -full
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

Update rindexer_vault.yml
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: none

full rpc for blocktime
  apps/rindexer/src/extensions/block_time.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
Due: rust

wip
  .gitignore
  Cargo.toml
  apps/mapper/Cargo.toml
  apps/mapper/embeddings.rs
  apps/mapper/grouper.rs
  apps/mapper/main.rs
  apps/mapper/test_group_backtest.rs
  infrastructure/ansible/applications/mapper/mapper.nomad
  libs/rust/utils/src/types.rs
Due: rust

estimate_timestamp fix
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
Due: rust

Update test_group_backtest.rs
  apps/mapper/test_group_backtest.rs
Due: rust

observability performance
  infrastructure/ansible/applications/mapper/mapper.nomad
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
Due: none

wip
  apps/rindexer/src/extensions/block_time.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
Due: rust

smart mapper
  apps/discourse/db_handler.rs
  apps/discourse/main.rs
  apps/mapper/embeddings.rs
  apps/mapper/grouper.rs
  apps/mapper/test_group_backtest.rs
  infrastructure/ansible/applications/observability/alloy-simple.nomad
  infrastructure/ansible/applications/observability/alloy.nomad
  infrastructure/ansible/applications/observability/grafana.nomad
  infrastructure/ansible/applications/observability/loki.nomad
  infrastructure/ansible/applications/observability/prometheus.nomad
Due: rust

cleanup
  apps/mapper/embeddings.rs
  apps/mapper/test_group_backtest.rs
Due: rust

wip
  Cargo.toml
  OBSERVABILITY_MIGRATION.md
  apps/mapper/embeddings.rs
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/extensions/block_time.rs
  apps/rindexer/src/main.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arb_token.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_core_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_sc_nominations.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/arbitrum_treasury_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_governor.rs
  apps/rindexer/src/rindexer_lib/indexers/rindexer/uni_token.rs
  apps/rindexer/src/rindexer_lib/typings/networks.rs
  infrastructure/ansible/applications/rindexer/rindexer.nomad
  infrastructure/ansible/applications/rindexer/setup-consul-kv.yml
  infrastructure/ansible/group_vars/all/rindexer_vault.yml
Due: rust

wip
  Cargo.toml
  apps/mapper/test_group_backtest.rs
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.sh
  infrastructure/ansible/applications/github-runner/files/github-runner-cleanup.timer
  infrastructure/ansible/applications/github-runner/files/github-runner-disk-monitor.service
  infrastructure/ansible/applications/github-runner/files/github-runner-disk-monitor.sh
  infrastructure/ansible/applications/github-runner/files/github-runner-disk-monitor.timer
  infrastructure/ansible/applications/github-runner/setup-github-runner.yml
Due: rust
