Repository proposals-app/proposalsapp: changes, and which Codecov flags are due for each by the changed paths.
All: rust, email-service

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

flags:
  rust:
    paths:
      - apps/discourse
      - apps/mapper
      - apps/rindexer
      - libs/rust
    carryforward: true

  email-service:
    paths:
      - apps/email-service
    carryforward: true

ignore:
  - "node_modules"
  - "target"
  - "dist"
  - "build"
  - "coverage"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "**/*.d.ts"
  - "**/.storybook"
  - "**/storybook-static"
  - "apps/web/e2e"
  - "apps/observe"
  - "libs/ts/visual-dom-diff"

deps update
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: email-service

Update Dockerfile
  apps/web/Dockerfile
Due: none

Create rindexer-fix-polygonzkevm.patch
  .cargo/patches/rindexer-fix-polygonzkevm.patch
Due: none

Delete rindexer-fix-polygonzkevm.patch
  .cargo/patches/rindexer-fix-polygonzkevm.patch
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arb_token_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_core_governor_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_sc_nominations_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/arbitrum_treasury_governor_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_governor_abi_gen.rs
  apps/rindexer/src/rindexer_lib/typings/rindexer/events/uni_token_abi_gen.rs
  apps/rindexer/src/tasks/snapshot_indexer.rs
  apps/web/package.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: rust, email-service

wip
  apps/mapper/Cargo.toml
  apps/mapper/grouper.rs
  apps/mapper/grouper.rs.bak
  apps/mapper/llm_ops.rs
  apps/mapper/main.rs
  apps/mapper/redis_cache.rs
Due: rust

block_poll_frequency
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

Update grouper.rs
  apps/mapper/grouper.rs
Due: rust

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/actions.ts
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/actions.ts
  apps/web/app/(dao)/[daoSlug]/actions.ts
  apps/web/package.json
  apps/web/tsconfig.json
  libs/ts/db/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

Update Dockerfile
  apps/rindexer/Dockerfile
Due: rust

rust version
  apps/discourse/Dockerfile
  apps/mapper/Dockerfile
  apps/rindexer/Dockerfile
Due: rust

deps
  Cargo.toml
  apps/discourse/Cargo.toml
  apps/mapper/Cargo.toml
  apps/rindexer/Cargo.toml
  apps/web/lib/validations.ts
  apps/web/package.json
  libs/rust/utils/Cargo.toml
  libs/ts/db/package.json
  libs/ts/emails/package.json
  package.json
  pnpm-lock.yaml
Due: rust

build fixes
  apps/web/next.config.mjs
  apps/web/proxy.ts
Due: none

build fix
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/actions.ts
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/feed/items/post-item/post-item.tsx
  apps/web/lib/validations.ts
Due: none

deps
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  pnpm-lock.yaml
Due: email-service

Update dependencies across Rust and JS projects
  Cargo.toml
  apps/web/package.json
  libs/ts/emails/package.json
  package.json
  pnpm-lock.yaml
Due: none

deps update
  CLAUDE.md
  Cargo.toml
  apps/web/package.json
  libs/ts/emails/package.json
  pnpm-lock.yaml
Due: none

Fix security, performance, and reliability issues
  apps/discourse/db_handler.rs
  apps/email-service/src/index.ts
  apps/mapper/main.rs
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/extensions/snapshot_api.rs
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/components/ui/search/fuzzy-search.tsx
  apps/web/app/(dao)/[daoSlug]/components/vote/vote-types-modals/onchain/arbitrum-core-basic-vote.tsx
  apps/web/app/(dao)/[daoSlug]/components/vote/vote-types-modals/onchain/arbitrum-treasury-basic-vote.tsx
  apps/web/app/components/providers/wallet-provider.tsx
  apps/web/lib/markdown-converter.ts
  apps/web/lib/wallet/adapters.ts
  libs/ts/db/.config/kysely.config.ts
  libs/ts/db/migrations/010_database_fixes.ts
  libs/ts/db/src/materialized-views.ts
Due: rust, email-service

Fix Next.js Suspense and SSR patterns across web app
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/body/body.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/feed/feed.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/feed/items/vote-item/aggregate-vote-item.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/feed/items/vote-item/vote-item.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/timeline/mobile/timeline-mobile.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/components/timeline/timeline.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/error.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/[groupId]/page.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/loading.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/components/timeline/timeline.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/error.tsx
  apps/web/app/(dao)/[daoSlug]/(results_page)/[groupId]/vote/[resultNumber]/page.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/profile/loading.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/profile/page.tsx
  apps/web/app/(dao)/[daoSlug]/components/navigation/nav-bar.tsx
  apps/web/app/(dao)/[daoSlug]/layout.tsx
  apps/web/app/(dao)/arbitrum/layout.tsx
  apps/web/app/(dao)/arbitrum/page.tsx
  apps/web/app/(dao)/uniswap/layout.tsx
  apps/web/app/(dao)/uniswap/page.tsx
Due: none

build fix
  apps/rindexer/src/extensions/db_extension.rs
  apps/rindexer/src/extensions/snapshot_api.rs
Due: rust

Create loading.tsx
  apps/web/app/(dao)/[daoSlug]/(main_page)/loading.tsx
Due: none

Improve Next.js 16 app folder structure with proper boundaries
  apps/web/app/(dao)/[daoSlug]/(list)/error.tsx
  apps/web/app/(dao)/[daoSlug]/(list)/loading.tsx
  apps/web/app/(dao)/[daoSlug]/(list)/page.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/error.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/error.tsx
  apps/web/app/(dao)/[daoSlug]/(mapping)/mapping/delegates/loading.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/error.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/onboarding/error.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/onboarding/layout.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/onboarding/loading.tsx
  apps/web/app/(dao)/[daoSlug]/(user)/profile/page.tsx
  apps/web/app/(marketing)/components/landing/FeatureSection.tsx
  apps/web/app/(marketing)/components/landing/FinalSection.tsx
  apps/web/app/(marketing)/components/landing/FullPageSection.tsx
  apps/web/app/(marketing)/components/landing/Hero.tsx
  apps/web/app/(marketing)/components/landing/HeroClient.tsx
  apps/web/app/(marketing)/components/landing/Navigation.tsx
  apps/web/app/(marketing)/components/landing/PledgeSection.tsx
  apps/web/app/(marketing)/components/landing/actions.ts
  apps/web/app/(marketing)/components/landing/dao-config.ts
  apps/web/app/(marketing)/components/landing/index.ts
  apps/web/app/page.tsx
Due: none

quotes fix
  apps/web/app/(dao)/arbitrum/page.tsx
  apps/web/lib/markdown-converter.ts
Due: none

Update markdown-converter.ts
  apps/web/lib/markdown-converter.ts
Due: none

CVE-2025-55182 fix
  Cargo.toml
  apps/email-service/package.json
  apps/web/package.json
  libs/ts/emails/package.json
  libs/ts/visual-dom-diff/package.json
  package.json
  pnpm-lock.yaml
Due: email-service

rate limiting
  apps/rindexer/rindexer.yaml
  apps/rindexer/src/rindexer_lib/typings/networks.rs
Due: rust

Update rindexer.yaml
  apps/rindexer/rindexer.yaml
Due: rust
